---
import PageLayout from "../layouts/Page.astro";
import { Icon } from "astro-icon/components";

interface Project {
	title: string;
	description: string;
	link: string;
}

const projects: Array<Project> = [
	{
		title: "FlarePen",
		description: "Web based editor for sketching ASCII diagrams.",
		link: "https://github.com/flarepen/flarepen",
	},
	{
		title: "YarDB",
		description: "An experimental analytics database written in Rust.",
		link: "https://github.com/kanatti/YarDB",
	},
	{
		title: "lucene-utils",
		description: "Utilities to work with lucene index files.",
		link: "https://github.com/kanatti/lucene-utils",
	},
	{
		title: "Pretty",
		description: "Command line utility to view prettified files.",
		link: "https://github.com/kanatti/pretty",
	},
];

const socialLinks: Array<{
	name: string;
	friendlyName: string;
	link: string;
}> = [
	{
		name: "mdi:github",
		friendlyName: "@kanatti",
		link: "https://github.com/kanatti",
	},
	{
		name: "mdi:twitter",
		friendlyName: "@bkanattil",
		link: "https://twitter.com/bkanattil",
	},
	{
		name: "mdi:email",
		friendlyName: "balukanattil@gmail.com",
		link: "mailto:balukanattil@gmail.com",
	},
];
---

<PageLayout title="Home • Balagopal Kanattil">
	<div class="w-full text-slate-950">
		<!-- about me -->
		<div
			class="my-8 px-12 py-4 lg:fixed lg:flex-auto lg:w-128 lg:inset-y-0 lg:items-start lg:overflow-y-auto lg:border-r lg:border-slate-700"
		>
			<h1 class="text-3xl inline-block border-b border-slate-700 mb-4">
				Balagopal Kanattil Shaji
			</h1>
			<p class="text-2xl mb-10">
				I'm Bala - A physicist turned Software Engineer, with a passion
				for Databases and Distributed Systems.
			</p>
			<div class="mb-6">
				<div
					class="text-2xl inline-block border-b border-slate-700 mb-4"
				>
					More about me
				</div>
				<p class="text-xl mb-2">
					I'm a self-taught developer with a formal education in
					Physics from IIT Bombay. Currently, I work as a Software
					Engineer at Amazon. My current interests are Databases and
					Distributed Systems, though I occasionally delve into User
					Interfaces and Design.
				</p>
				<p class="text-xl">
					Outside of tech, I enjoy spending time bouldering or
					cooking. I am also a big fan of horror, particularly the
					works of Junji Ito and H.P. Lovecraft.
				</p>
			</div>
			<div class="mb-6">
				<div
					class="text-2xl inline-block border-b border-slate-700 mb-4"
				>
					Projects
				</div>
				<ul class="text-xl">
					{
						projects.map((project) => (
							<>
								<li class="mb-2">
									<a
										href={project.link}
										target="_blank"
										rel="noopener noreferrer"
										class=" inline-block text-slate-700 hover:text-slate-800"
									>
										{project.title}
									</a>
									:
									<p class="inline-block">
										{project.description}
									</p>
								</li>
							</>
						))
					}
				</ul>
			</div>
			<div class="mb-6">
				<div
					class="text-2xl inline-block border-b border-slate-700 mb-4"
				>
					Contact
				</div>
				<ul class="text-xl">
					{
						socialLinks.map(({ link, name, friendlyName }) => (
							<li class="mb-2">
								<a
									href={link}
									target="_blank"
									rel={`noopener noreferrer`}
									class="flex items-center text-slate-700 hover:text-slate-800"
								>
									<Icon
										name={name}
										aria-hidden="true"
										focusable="false"
										class="inline-block w-6 h-6"
									/>
									<div class="px-2 inline-block">
										{friendlyName}
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</div>
		<div class="my-8 px-12 py-4 lg:relative lg:ml-128">
			<div class="text-3xl inline-block border-b border-slate-700 mb-4">
				Latest Articles
			</div>
		</div>
	</div>
</PageLayout>
