---
import PageLayout from "../layouts/Page.astro";
import { Icon } from "astro-icon/components";

interface Project {
	title: string;
	description: string;
	link: string;
}

const projects: Array<Project> = [
	{
		title: "FlarePen",
		description: "Web based editor for sketching ASCII diagrams.",
		link: "https://github.com/flarepen/flarepen",
	},
	{
		title: "YarDB",
		description: "An experimental analytics database written in Rust.",
		link: "https://github.com/kanatti/YarDB",
	},
	{
		title: "lucene-utils",
		description: "Utilities to work with lucene index files.",
		link: "https://github.com/kanatti/lucene-utils",
	},
	{
		title: "Pretty",
		description: "Command line utility to view prettified files.",
		link: "https://github.com/kanatti/pretty",
	},
];

const socialLinks: Array<{
	name: string;
	friendlyName: string;
	link: string;
}> = [
	{
		name: "mdi:github",
		friendlyName: "Github",
		link: "https://github.com/kanatti",
	},
	{
		name: "mdi:twitter",
		friendlyName: "Twitter",
		link: "https://twitter.com/bkanattil",
	},
];
---

<PageLayout title="Home • Balagopal Kanattil">
	<section>
		<h1>Hi, I'm Bala.</h1>
		<p>
			I'm a self-taught developer with a formal education in Physics from
			IIT Bombay. Currently, I work as a Software Engineer at Amazon. This
			is my personal blog where I write about different projects I'm
			working on. My current interests are Databases and Distributed
			Systems, though I occasionally delve into User Interfaces and
			Design.
		</p>
	</section>
	Outside of tech, I enjoy spending time bouldering or cooking. I am also a big
	fan of horror, particularly the works of Junji Ito and H.P. Lovecraft.
</PageLayout>
<div>
	<p>Find me on</p>
	<ul>
		{
			socialLinks.map(({ link, name, friendlyName }) => (
				<li>
					<a href={link} target="_blank" rel={`noopener noreferrer`}>
						<Icon
							name={name}
							aria-hidden="true"
							focusable="false"
						/>
						<span>{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>

<section>
	<h2>Posts</h2>
	Coming Soon ...
</section>
<section>
	<h2>Projects</h2>
	<ul>
		{
			projects.map((project) => (
				<>
					<li>
						<a
							href={project.link}
							target="_blank"
							rel="noopener noreferrer"
						>
							{project.title}
						</a>
						:<p>{project.description}</p>
					</li>
				</>
			))
		}
	</ul>
</section>
<section>
	This blog theme is inspired from <a
		href="https://github.com/chrismwilliams/astro-theme-cactus"
		target="_blank"
		rel="noopener noreferrer"
	>
		astro-cactus-theme
	</a>.
</section>
