---
import type { CollectionEntry } from "astro:content";

interface Props {
    post: CollectionEntry<"post">;
}

const { post } = Astro.props;

const formatDate = (dateString: string) => {
    return new Date(dateString).toLocaleDateString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
    });
};
---

<li>
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-baseline gap-1">
        <h3 class="text-xl">
            <a
                href={`/posts/${post.slug}`}
                class="text-ink hover:underline hover:decoration-1"
            >
                {post.data.title}
            </a>
        </h3>
        <time
            datetime={post.data.publishDate}
            class="text-sm sm:text-base text-ink-light sm:ml-4 flex-shrink-0"
        >
            {formatDate(post.data.publishDate)}
        </time>
    </div>
    <p class="mt-2 text-base text-ink-light">
        {post.data.description}
    </p>
</li>
